<html>
  <body>
    <h1>Email from <%= @name %></h1><br>
    <span>Phone Number - <%= @phone_number%></span></br>
    <span>E-mail - <%= @email%></span></br>
    <span>Message - <%= @body%></span></br>
  </body>
</html>
