<html>
  <body>
    <h1>Free Quote</h1>
    <span>Name         - <%= @name %></span>
    <span>E-mail       - <%= @email %></span>   
    <span>Phone Number - <%= @phone_number%></span>
    <span>Zip Code     - <%= @zip%></span>  
  </body>
</html>
