<div class='row'>
  <div id="ccgallery" data-autoplay="true">
    <menu type="toolbar">
  
      <div class="buttonset" id="displayButtons">				
        <a class="navbuttons active" id="gocoverflow">Coverflow</a>
        <a class="navbuttons" id="gothumbs">Thumbnails</a>
      </div>

      <div class="buttonset" id="sortButtons">
        <a class="navbuttons active" id="all" data-type="all">All</a>
        <a class="navbuttons" id="photos" data-type="photo">Photos</a>
        <a class="navbuttons" id="audios" data-type="audio">Audios</a>
        <a class="navbuttons" id="videos" data-type="video">Videos</a>
      </div>
    </menu>		

    <section class="displayStyle" id="coverflowGallery">
      <div id="coverContainer"></div>
      <div id="scroll-wrap">
        <a id="next"></a>
        <div id="scrollbar-track">
          <a href="#" class="ui-slider-handle"></a>
        </div>
        <a id="prev"></a>
      </div>
      <div id="listWrapper">
        <ol id="itemList"></ol>
      </div>
    </section>  <!-- end #coverflowGallery -->

    <section class="displayStyle" id="thumbGallery">
      <ul></ul>
    </section>  <!-- end #thumbGallery -->

  </div>  <!-- end #ccgallery -->
</div>
