<div class='row margin-top60px'>
  <div class='span6 center'>
    <%= image_tag 'testimonials/testimonial.png' %>
  </div> <!-- .span6 center -->
  <div class='span6 center'>
    <%= image_tag 'testimonials/testimonial1.png' %>
  </div> <!-- .span6 center -->
</div> <!-- .row -->
<div class='row'>
  <div class='span6 center'>
    <%= image_tag 'testimonials/testimonial2.png' %>
  </div> <!-- .span6 center -->
  <div class='span6 center'>
    <%= image_tag 'testimonials/testimonial3.png' %>
  </div> <!-- .span6 center -->
</div> <!-- .row -->
