<div class='row margin-top40px'>
  <div class='span7'>
    <div class='black-box shadow padding10px'>
      <%= image_tag 'about_us/certified.png', :width => '100%' %>
    </div> <!--.black-box .shadow .padding10px-->  
  </div><!-- .span7 -->
  <div class='span5'>
    <div class='black-box shadow padding10px'>
      <h1>We're Certified</h1>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat ipsum at arcu blandit dignissim ut ac tortor. Praesent ultrices blandit laoreet. Pellentesque fermentum auctor ipsum, nec ultricies purus euismod id. Curabitur id neque nisl. Proin pellentesque varius lacus, at suscipit lectus tempus ut. Cras venenatis sollicitudin sapien, at sodales ipsum sagittis fringilla. Donec at magna nunc. Aliquam ullamcorper ante id odio sagittis et consectetur purus egestas. Curabitur a felis at libero tincidunt fermentum. Maecenas eros nisl, vestibulum sed pharetra a, volutpat a neque. Donec sed est eget purus luctus consectetur sit amet eu dolor. </span>
    </div> <!--.black-box .shadow .padding10px-->
  </div><!-- .span5-->
</div><!-- .row -->

<div class='row margin-top50px'>
  
  <div class='span5'>
    <div class='black-box shadow padding10px'>
      <h1>We Work With Everyone</h1>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat ipsum at arcu blandit dignissim ut ac tortor. Praesent ultrices blandit laoreet. Pellentesque fermentum auctor ipsum, nec ultricies purus euismod id. Curabitur id neque nisl. Proin pellentesque varius lacus, at suscipit lectus tempus ut. Cras venenatis sollicitudin sapien, at sodales ipsum sagittis fringilla. Donec at magna nunc. Aliquam ullamcorper ante id odio sagittis et consectetur purus egestas. Curabitur a felis at libero tincidunt fermentum. Maecenas eros nisl, vestibulum sed pharetra a, volutpat a neque. Donec sed est eget purus luctus consectetur sit amet eu dolor. Nam in augue sit amet enim ornare ultricies ac et magna. Sed a quam ullamcorper purus imperdiet facilisis.</span>
    </div> <!--.black-box .shadow .padding10px-->
  </div><!-- .span5 -->
  <div class='span7'>
    <div class='black-box shadow padding10px'>
      <%= image_tag 'about_us/partners.png', :width => '100%'%>
    </div> <!--.black-box .shadow .padding10px-->
  </div><!-- .span7-->
</div><!-- .row -->

<div class='row margin-top50px'>
  <div class='span3'>
    <div class='black-box shadow padding10px'>
      <%= image_tag 'about_us/giving_back.png', :width => '100%' %>
    </div> <!--.black-box .shadow .padding10px-->
  </div><!-- .span3 -->
  <div class='span9'>
    <div class='black-box shadow padding10px'>
      <h1>Honored To Give Back</h1>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat ipsum at arcu blandit dignissim ut ac tortor. Praesent ultrices blandit laoreet. Pellentesque fermentum auctor ipsum, nec ultricies purus euismod id. Curabitur id neque nisl. Proin pellentesque varius lacus, at suscipit lectus tempus ut. Cras venenatis sollicitudin sapien, at sodales ipsum sagittis fringilla. Donec at magna nunc. Aliquam ullamcorper ante id odio sagittis et consectetur purus egestas. Curabitur a felis at libero tincidunt fermentum. Maecenas eros nisl, vestibulum sed pharetra a, volutpat a neque. Donec sed est eget purus luctus consectetur sit amet eu dolor. Nam in augue sit amet enim ornare ultricies ac et magna. Sed a quam ullamcorper purus imperdiet facilisis. Aliquam auctor leo elementum odio viverra pharetra a vitae felis. Aenean fermentum placerat ante, vel hendrerit nulla semper nec.Sed a quam ullamcorper purus imperdiet facilisis. Aliquam auctor leo elementum odio viverra pharetra a vitae felis. Aenean fermentum placerat ante, vel hendrerit nulla semper nec Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat ipsum at arcu blandit dignissim ut ac tortor. Praesent ultrices blandit laoreet. Pellentesque fermentum auctor ipsum, nec ultricies purus euismod id.  pharet</span>
    </div> <!--.black-box .shadow .padding10px-->
  </div><!-- .span9 -->
</div><!-- .row -->
<div class='row margin-top50px'>
  
  <div class='span5'>
    <div class='black-box shadow padding10px'>
      <h1>We're Mobile</h1>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat ipsum at arcu blandit dignissim ut ac tortor. Praesent ultrices blandit laoreet. Pellentesque fermentum auctor ipsum, nec ultricies purus euismod id. Curabitur id neque nisl. Proin pellentesque varius lacus, at suscipit lectus tempus ut. Cras venenatis sollicitudin sapien, at sodales ipsum sagittis fringilla. Donec at magna nunc. Aliquam ullamcorper ante id odio sagittis et consectetur purus egestas. Curabitur a felis at libero tincidunt fermentum. Maecenas eros nisl, vestibulum sed pharetra a, volutpat a neque. Donec sed est eget purus luctus consectetur sit amet eu dolor. Nam in augue sit amet enim ornare ultricies ac et magna. Sed a quam ullamcorper purus imperdiet facilisis.</span>
    </div> <!--.black-box .shadow .padding10px-->
  </div><!-- .span5 -->
  <div class='span7'>
    <div class='black-box shadow padding10px'>
      <%= image_tag 'about_us/partners.png', :width => '100%'%>
    </div> <!--.black-box .shadow .padding10px-->
  </div><!-- .span7-->
</div><!-- .row -->

